<%
  html_options ||= {}
  content ||= nil

  classes = ["mt-2 text-sm text-red-600 dark:text-red-500", html_options.delete(:class)].compact_blank.join(" ")
%>

<p class="<%= classes %>" <%= tag.attributes(html_options) %>><%= content %></p>
