<%
  html_options ||= {}
  content ||= nil

  classes = ["mt-2 text-sm text-zinc-500 dark:text-zinc-400", html_options.delete(:class)].compact_blank.join(" ")
%>

<p class="<%= classes %>" <%= tag.attributes(html_options) %>><%= content %></p>
