<%
  text ||= nil
  for_id ||= nil
  required ||= false
  html_options ||= {}
  content ||= nil

  display = text || content
  classes = ["block mb-2 text-sm font-medium text-gray-900 dark:text-white", html_options.delete(:class)].compact_blank.join(" ")
%>

<label <% if for_id %>for="<%= for_id %>"<% end %> class="<%= classes %>" <%= tag.attributes(html_options) %>>
  <%= display %><% if required %><span class="text-red-500 ms-1">*</span><% end %>
</label>
