<%
  variant ||= :underline
  id ||= "default-tabs"
  html_options ||= {}
  content ||= nil

  wrapper_classes = case variant.to_sym
  when :pill
    "flex flex-wrap text-sm font-medium text-center text-zinc-500 dark:text-zinc-400"
  when :full_width
    "flex flex-wrap text-sm font-medium text-center text-zinc-500 divide-x divide-zinc-200 rounded-lg shadow dark:divide-zinc-700 dark:text-zinc-400"
  else
    "flex flex-wrap -mb-px text-sm font-medium text-center text-zinc-500 border-b border-zinc-200 dark:text-zinc-400 dark:border-zinc-700"
  end

  classes = [wrapper_classes, html_options.delete(:class)].compact_blank.join(" ")
%>

<div data-controller="eden-tab" data-eden-tab-active-tab-value="0" id="<%= id %>" <%= tag.attributes(html_options) %>>
  <ul class="<%= classes %>" role="tablist">
    <%= content %>
  </ul>
</div>
