<%
  search_placeholder ||= "Search..."
  search_name ||= "search"
  search_value ||= nil
  html_options ||= {}
  content ||= nil

  classes = [
    "flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4",
    html_options.delete(:class)
  ].compact_blank.join(" ")
%>

<div class="<%= classes %>" <%= tag.attributes(html_options) %>>
  <div class="w-full sm:max-w-xs">
    <%= eden_search_input(placeholder: search_placeholder, name: search_name, value: search_value, size: :md) %>
  </div>
  <% if content %>
    <div class="flex items-center gap-3 shrink-0">
      <%= content %>
    </div>
  <% end %>
</div>
